@{
  Layout = "_Layout";
}

<h1>Welcome to the To Do List!</h1>
<button>@Html.ActionLink("See all items", "Index", "Items")</button>
<button>@Html.ActionLink("See all categories", "Index", "Categories")</button>